@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Slabo+27px&display=swap');


:root {
    --background:
        --salmón oscuro:#E9967A;
    --celestito: #88b79a;
    --negro: #222222;
    --violeta: #BA55D3;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: var(--negro);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 0px 30px;
    /* para fixear */
    position: fixed;
    top: 0;
    z-index: 2;

}

.logo {
    height: 60%;
    float: left;
    width: 3em;
    height: 3em;
    margin-right: 1em;

}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar {
    gap: 150px
}

.navbar-list {
    gap: 70px
}

.navbar-list,
a {
    text-decoration: none;
    color: snow;
    font-weight: 500;
}


.navbar-list,
li:first-child>a {
    font-weight: 600;
}

.navbar-list,
li:nth-child(3)>a {
    color: red;
    font-weight: 600;
}


.carrito-icon {
    font-weight: 600;
    border-radius: 50px;
    height: 49px;
    padding: 5px 10px;
    margin-right: 1rem;
    color: aliceblue;
    cursor: pointer;

}

/* empieza el body */
main {
    background-color: linen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

/* hero */

#hero {
    margin-top: 65px;
    padding: 70px 5;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 500px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 30px;
    width: 80%;
    display: flexbox;
    min-width: 500px;
    font-weight: 800;
    color: deeppink;


}

.hero-info p {
    font-size: 20px;
    padding: 15px 0px;
    width: 70%;
    font-family: 'Courier New', Courier, monospace;
    width: 70%;
    color: var(--negro);

}

.hero-info a {
    color: antiquewhite;
    background-color: darkorange;
    width: 150px;
    margin: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}


.hero-card {
    width: inherit;
    max-width: 40%;
    height: auto;
    padding: 0px;
    border-radius: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20 px;

}

/* info card */
#info {
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;

}

#info h2 {
    font-size: 30px;
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
    font-weight: 800;
    color: var(--violeta);
    text-align: center;
}

#info h3 {
    font-size: 20px;
    margin: 0em;

}

#info h4 {
    font-size: 18px;
    width: 80%;
    min-width: 500px;
    max-width: 1200px;
    font-weight: 800;
    text-align: center;
    color: grey;



}

.info-cards-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.info-card {
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: navajowhite;
    border-radius: 10px;
    gap: 20px;

}

.info-card img {
    width: 50px;
}

.info-card h3 {
    font-size: 18px;
    width: 80%;
    min-width: 500px;
    font-weight: 600;
    text-align: center;

}

.info-card p {
    font-size: 14px;
    font-weight: 300;
    color: #222222;

}